<nav class="side_nav">
  <ul>
    <li><a href="/" id="clock"><%= Time.now.strftime("%H:%M:%S") %></a></li>
    <li><a href="/">Home</a></li>
    <li><a href="/questions">Questions</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/contact">Contact</a></li>
      <% if session[:counter] %>
        <li><a href="/">Store Views <%= session[:counter] %></a></li>
      <% end %>
  </ul>
</nav>
